build/
dist/

node_modules/

logs/
*.log
npm-debug.log*

.DS_Store

frontend/build/

.dfx

coverage/

dfx_generated/

backend/canisters/src/declarations/audio
backend/canisters/src/declarations/main
backend/canisters/src/declarations/user
frontend/src/declarations/audio
frontend/src/declarations/user
frontend/src/declarations/main