body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;
}

.app {
  text-align: center;
}

.navbar {
  background-color: #333;
  padding: 1rem;
}

.navbar a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

.navbar a:hover {
  color: #f9a825;
}

.content {
  padding: 2rem;
}

.recorder-container, .verification-container {
  padding: 2rem;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 2rem auto;
  width: 50%;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  margin: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.verification-container {
  padding: 20px;
  text-align: center;
}

.loading-spinner {
  margin-top: 20px;
  font-size: 18px;
  color: #007bff;
}

p {
  font-size: 24px;
  margin-top: 10px;
}

/* App.css */

.audio-recorder-container {
  padding: 20px;
  text-align: center;
}

.start-recording, .stop-recording {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.start-recording {
  background-color: #4CAF50;
}

.stop-recording {
  background-color: #ff4444;
}

.start-recording:disabled, .stop-recording:disabled {
  cursor: not-allowed;
}

.audio-preview {
  margin-top: 20px;
}

.ipfs-hash {
  margin-top: 20px;
  word-break: break-all;
}

p {
  font-size: 18px;
}
